#waze {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 50px auto;
}

#waze div {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#waze .body {
  background: #ebeef0;
  border-radius: 100%;
  width: 188px;
  height: 170px;
  left: 47px;
  top: 26px;
  border: 10px solid #37474e;
  box-shadow: 0px 0px 0px 0px #ebeef0;
}

#waze .wheel {
  background: #5e7b89;
  border-radius: 100%;
  border: 16px solid #37474e;
  width: 47px;
  height: 47px;
  top: 177px;
  left: 63px;
}

#waze .wheel.r {
  left: 146px;
}

#waze .eyes {
  background: #37474e;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  top: 83px;
  left: 103px;
  box-shadow: 53px 0 0 0 #37474e;
}

#waze .mouth {
  background: transparent;
  width: 77px;
  height: 76px;
  top: 76px;
  left: 102px;
  border-radius: 100%;
  border: 10px solid #37474e;
  border-color: transparent #37474e #37474e transparent;
  transform: rotate(45deg);
}

#waze .mouth::before, #waze .mouth::after {
  background: transparent;
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  top: 51px;
  left: 7px;
  box-shadow: -6px -4px 0 5px #ebeef0;
}

#waze .mouth::before {
  top: 7px;
  left: 52px;
  box-shadow: -6px -5px 0 5px #ebeef0;
}

#waze .tail {
  background: #ebeef0;
  width: 11px;
  height: 11px;
  top: 185px;
  left: 145px;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: -8px 0px 0px 2px #ebeef0, -12px 0px 0px 2px #ebeef0, -18px 0px 0px 2px #ebeef0, -24px -2px 0px 2px #ebeef0, -30px -2px 0px 2px #ebeef0, -36px -3px 0px 2px #ebeef0, -42px -3px 0px 2px #ebeef0, -48px -6px 0px 2px #ebeef0, -54px -10px 0px 2px #ebeef0, -60px -14px 0px 10px #ebeef0, -80px -30px 0px 18px #ebeef0, -87px -62px 0px 12px #ebeef0;
}

#waze .tail::after {
  content: "";
  position: absolute;
  background: #37474e;
  width: 12px;
  height: 12px;
  top: 1px;
  left: -2px;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: -4px 0px 0px 0px #37474e, -8px 0px 0px 0px #37474e, -12px 0px 0px 0px #37474e, -16px 0px 0px 0px #37474e, -20px 0px 0px 0px #37474e, -24px 0px 0px 0px #37474e, -28px 0px 0px 0px #37474e, -32px 0px 0px 0px #37474e, -36px 0px 0px 0px #37474e, -40px 0px 0px 0px #37474e;
}

#waze .tail::before {
  content: "";
  position: absolute;
  background: transparent;
  width: 40px;
  height: 62px;
  top: -97px;
  left: -127px;
  border: 10px solid #37474e;
  border-radius: 0% 100% 100% 67% / 0% 0% 100% 0%;
  box-sizing: border-box;
  border-top-color: transparent;
  border-left-color: transparent;
}

#waze .tail-bottom {
  box-sizing: border-box;
  position: absolute;
  background: transparent;
  width: 30px;
  height: 27px;
  top: -46px;
  left: -129px;
  border: 10px solid #37474e;
  border-radius: 50% 0% 0% 10px/ 50% 0% 20% 20px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(1deg);
}

#waze .tail-bottom::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  background: transparent;
  width: 11px;
  height: 11px;
  top: 31px;
  left: 37px;
  background: #37474e;
  border-radius: 100%;
  box-shadow: -2px 0px 0px 0px #37474e, -4px -1px 0px 0px #37474e, -6px -2px 0px 0px #37474e, -8px -3px 0px 0px #37474e, -10px -4px 0px 0px #37474e, -12px -5px 0px 0px #37474e, -13px -5.5px 0px 0px #37474e, -14px -6px 0px 0px #37474e, -15px -6px 0px 0px #37474e, -16px -7px 0px 0px #37474e, -18px -7px 0px 0px #37474e, -19px -8px 0px 0px #37474e, -21px -9px 0px 0px #37474e, -23px -9.5px 0px 0px #37474e, -24px -10px 0px 0px #37474e, -25px -10px 0px 0px #37474e, -26px -11px 0px 0px #37474e, -28px -12px 0px 0px #37474e, -29px -12.5px 0px 0px #37474e, -31px -13.5px 0px 0px #37474e, -32px -14px 0px 0px #37474e, -33px -15px 0px 0px #37474e, -34px -16px 0px 0px #37474e, -35px -16px 0px 0px #37474e, -37px -17.5px 0px 0px #37474e, -39px -19px 0px 0px #37474e, -40px -20.5px 0px 0px #37474e, -42px -22px 0px 0px #37474e, -44px -24px 0px 0px #37474e, -46px -28px 0px 0px #37474e, -47px -30px 0px 0px #37474e;
}

#waze .b-tail {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 50px;
  height: 36px;
  top: 102px;
  left: -36px;
  background: #ebeef0;
  border-radius: 100%;
}